:root { 
    --Rosa-medio: #F865B0;
    --Rosa-claro: #FBCAEF;
    --Rosa-escuro: #E637BF;
    --Azul-verde: #D2F1E4;
    --Rosa: #FA98D0;
    --Roxao: #48304D;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;   
}

header{
    background: var(--Rosa);
    height: 5rem;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 5rem);
}

form{
    background: var(--Rosa);
    padding: 1rem;
    border-radius: 1rem;
    width: 20rem;
}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: .4rem;
}

input {
    padding: .5rem;
    border-radius: 10px;
    border: none;
}
button {
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: .5rem;
    background: var(--Rosa-claro);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 1rem; 
}

button:hover {
    background: var(--Rosa-escuro);
    color: white;
    cursor:pointer;
    transition: 1s;
}